<!DOCTYPE html>
<html lang="en">
	<head>
		{{{head}}}
	</head>

	<body>
		<div class="topmost-nav-bar">
			<a class="nav-link" href="http://localhost:3001/">Home</a>
			<a class="nav-link" href="http://localhost:3001/1_general">1. Abstract View</a>	
			<a class="nav-link" href="http://localhost:3001/2_applicationObj">2. Application Object</a>	
			<a class="nav-link" href="http://localhost:3001/3_requestObj">3. Request Object</a>	
			<a class="nav-link" href="http://localhost:3001/4_responseObj">4. Response Object</a>	
		</div>
		{{{body}}}
	</body>
</html>
~           

